page-login {

    .logo{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;

    }

    .logo img{
     
        width: 50%;
        
    }

    .lembrar{
        margin-bottom:70px;
        margin-top: 50px;
    }

    button.botao.button.button-md.button-default.button-default-md.button-full.button-full-md {
        background-color: orange;
        
    }

}
