// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.botao {
    margin-top: 20px;
    margin-bottom: 20px;

}

p.dataPost {
    font-size: 1.3rem;
}

.item-md ion-avatar ion-img, .item-md ion-avatar img {
    border-radius: 50%;
    overflow: hidden;
    width: 90px;
    height: 90px;
}

.item-md h2 {
    
    font-size: 2.5rem;
    font-weight: bold;
}

h6 {
   
    font-style: italic;
}

.quebra-linha{
    white-space: normal;
}

.avatar{
    background: blue;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
}

.letras{
    height: 100%;
    font-size: 40px;
    line-height: 80px;
}

.letras p{
    float: inherit;
}

.item-ios.item-block .item-inner {
    border-bottom: none;
 }


.item-md.item-block .item-inner {
   border-bottom: none;
}
