page-altera-foto {

    .foto {
        text-align: center;
    }

    .foto img{
        height: 380px;
    }

    .ion-md-image:before {
        font-size:360px;
        text-align: center;
        color: rgb(168, 179, 192);
    }

    .alterarImagem{
        text-align: center;
    }

    .ion-md-camera:before {
        
        font-size:80px;
        margin-right: 30px;
        
    }

    .ion-md-images:before {
     
        font-size: 80px;
        margin-left: 30px;

    }

 


     
    
}
