post {

    ion-card-header {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: lightgrey;
    }

    ion-card-content {
        
        background-color: lightgrey;
    }

    ion-card-content p{
        float: right;
    }

    .rodape{
        margin-top: 15px;
    }
    .titulo{
        font-weight: bold;
    }

}
